body {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

.bg-brown {
    background-color: var(--big-title-8c3a19);
}

.bg-light-brown {
    background-color: var(--header-title-e47d3d);
}

.bg-orange {
    background-color: var(--unnamed-color-FEAE76);
}

.bg-pink {
    background-color: var(--unnamed-color-FFD3B6);
}

.brown {
    color: var(--big-title-8c3a19);
}

.light-brown {
    color: var(--header-title-e47d3d);
}

.orange {
    color: var(--unnamed-color-FEAE76);
}

.pink {
    color: var(--unnamed-color-FFD3B6);
}