* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    padding: 0;
    z-index: 9999;
    transform: translateX(-50%);
    width: 100%;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

header.scrolled {
    background-color: #fff;
    transform: translate(-50%, -3rem);
}

.header__mobile {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar__container {
    top: 0;
    z-index: 9999;
    left: 50%;
    margin-top: 3rem;
}

.navbar__container div a {
    position: relative;
}

.header__backround {
    /* max-width: var(--max-width); */
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
    z-index: -1;
    height: 755px;
    display: flex;
    align-items: center;
}

.header__backround img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__logo_header img {
    max-width: 196px;
}

nav {
    z-index: 9999;
}

nav img {
    max-width: 196px;
}

.header__section_banner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.header__backround h1 {
    font-weight: 100;
}

.header__container {
    min-height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__menu-container {
    margin: 10px 0;
    background-color: #ffffff98;
    border-radius: 50px;
}

.navbar__menu-container a {
    color: var(--header-title-e47d3d);
    text-decoration: none;
    /* padding: 1rem; */
}

.navbar__menu-container a:hover {
    text-decoration: none;
    color: var(--big-title-8c3a19);
}

.navbar__menu-container a i {
    content: "";
    border: solid var(--header-title-e47d3d);
    border-width: 0 2px 2px 0;
    position: absolute;
    padding: 5px;
    top: 55%;
    right: -30%;
    transform: translateY(-100%) rotate(45deg);
}

.dropdown-toggle::after {
    display: none;
}

.navbar__menu-container a:hover i {
    border: solid var(--big-title-8c3a19);
    content: "";
    border-width: 0 2px 2px 0;
    position: absolute;
    padding: 5px;
    top: 55%;
    right: -30%;
    transform: translateY(-100%) rotate(45deg);
}

.header__banner__title {
    font-size: 2.5rem;
    color: var(--big-title-8c3a19);
    position: relative;
}

.header__banner__title::after {
    content: "";
    width: 6.5rem;
    height: 5px;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: var(--header-title-e47d3d);
}

.header__banner__lead {
    font-size: 1.8rem;
    margin-right: 7rem;
    color: var(--header-title-e47d3d);
}

.btn--pill {
    height: 40px;
    width: 256px;
    border-radius: 50px;
    background-color: #8C3A19;
    display: flex;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.btn--pill img {
    position: unset;
    width: 20px;
}


/* .dropdown__item .committed__dropdown__container div:first-child {
    padding: 1rem 1rem;
} */

.dropdown__item .committed__dropdown__container .dropdown__header {
    position: relative;
}

.dropdown__item {
    position: relative;
    width: 100%;
}

.dropdown__item i {
    content: "";
    border: solid var(--header-title-e47d3d);
    border-width: 0 2px 2px 0;
    position: absolute;
    padding: 5px;
    top: 60%;
    right: 0;
    transform: translateY(-100%) rotate(45deg);
}

.full__width__container {
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
}

.book__appointment__banner {
    position: absolute;
    bottom: 0;
    height: 100%;
}

.committed__dropdown .dropdown__item {
    color: white;
}

.committed__dropdown .dropdown__item i {
    border: solid white;
    border-width: 0 2px 2px 0;
}

.committed__dropdown__container .dropdown__menu .collapse {
    border-top: 1px solid white;
}

.committed__dropdown__container .dropdown__header a {
    background: none;
    border: none;
}

.committed__dropdown__container .dropdown__menu .dropdown__list a {
    font-size: 0.7rem;
    line-height: 1.2rem;
}

.committed__dropdown__container .dropdown__menu .dropdown__list img {
    height: 0.7rem;
}

.committed img {
    width: 3rem;
}


/* section doctor */

.section__doctor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.section__doctor .section__doctor__content {
    position: absolute;
    bottom: 0;
}

.section__doctor .overlay {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    background: linear-gradient(1deg, rgba(0, 0, 0, 0.8827906162464986) 0%, rgba(0, 0, 0, 0.7875525210084033) 32%, rgba(254, 254, 254, 0) 100%);
}

.section__doctor .section__doctor__content .header__banner__title {
    font-size: 1.5rem;
}

.section__doctor .section__doctor__content img {
    width: 2rem;
    position: unset;
}


/*end section doctor*/


/* section news */

.section__news__title {
    color: var(--big-title-8c3a19);
    font-weight: bold;
}

.section__news__content {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

footer {
    background-color: var(--header-title-e47d3d);
    color: white;
}


/* use in general */

.slick-dots li {
    border: 1px solid var(--unnamed-color-823f23);
    background-color: transparent;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 100%;
}

.slick-dots li button::before {
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    height: 0.8rem;
    width: 0.8rem;
    color: transparent;
}

.slick-dots li.slick-active button:before {
    color: var(--unnamed-color-823f23);
    opacity: 1;
    font-size: 0.7rem;
    line-height: 1.4rem;
}

input {
    width: 100%;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    background: none;
    border-color: var(--big-title-8c3a19);
    outline: none;
    padding: 0.5rem 0;
    margin: 1rem 0;
    color: var(--big-title-8c3a19);
}

.section__booking {
    color: var(--unnamed-color-823f23);
}

input::placeholder {
    color: var(--unnamed-color-823f23);
}

input::-webkit-input-placeholder {
    color: var(--unnamed-color-823f23);
}

input::-moz-placeholder {
    color: var(--unnamed-color-823f23);
}

input:-ms-input-placeholder {
    color: var(--unnamed-color-823f23);
}

.input {
    position: relative;
}

input.btn__submit {
    width: 50%;
    border: none;
    background-color: var(--unnamed-color-D6814A);
    color: white;
    border-radius: 20px;
}

input[type=radio] {
    display: none;
}


/* Style the radio button */

input[type=radio]+label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--unnamed-color-D6814A);
    margin-right: 10px;
    vertical-align: middle;
}


/* Style the radio button when it's checked */

input[type=radio]:checked+label::before {
    background-color: #008000;
    /* Change this to the color you want */
}


/* Style the label text */

input[type=radio]+label {
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
}


/* responsive */

@media (max-width: 576px) {
    .header__banner__img {
        height: 100%;
        width: auto;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {
    .header__banner__img {
        width: 100%;
    }
    .book__appointment__banner {
        height: auto;
        width: 100%;
    }
}